In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\n Square root of data frame:\n",info.apply(np.sqrt))

 Square root of data frame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

In [2]:
print(info.apply(np.sum,axis=0))

P     6
Q    21
dtype: int64

In [3]:
print(info.apply(np.sum,axis=1))

0    9
1    9
2    9
dtype: int64

In [4]:
a=pd.DataFrame([[3,4,6],[2,5,7],[1,8,9]],columns=['R','Y','Z'])
print(a.agg(['min','max']))

     R  Y  Z
min  1  4  6
max  3  8  9

In [6]:
b=pd.DataFrame([['Dale',123],['Mark',143]],columns=['EMP','ID'])
b['Age']=[18,19]
c=b.assign(sex=['Male','Male'])
print(c)

    EMP   ID  Age   sex
0  Dale  123   18  Male
1  Mark  143   19  Male

In [7]:
d=pd.DataFrame(np.random.randn(6,4),index=[7,8,9,1,2,3],columns=['A','B','C','D'])
print(d)
e=d.sort_index()
f=d.sort_values(by='A')
print(f)

          A         B         C         D
7 -0.795854 -0.398561  0.627428 -1.755595
8 -0.605509 -2.244878 -1.403790  0.656401
9 -0.116327  1.542587  0.914058 -0.835648
1 -0.999680 -0.114268 -0.670069  0.445275
2 -0.861819  0.729471  1.126955 -0.951353
3 -2.403507  0.557359 -0.552456 -0.372527
          A         B         C         D
3 -2.403507  0.557359 -0.552456 -0.372527
1 -0.999680 -0.114268 -0.670069  0.445275
2 -0.861819  0.729471  1.126955 -0.951353
7 -0.795854 -0.398561  0.627428 -1.755595
8 -0.605509 -2.244878 -1.403790  0.656401
9 -0.116327  1.542587  0.914058 -0.835648

In [9]:
a1=pd.DataFrame({'id':[1,2,3,4,5,6],'Name':['Rithika','Yazhini','Yuvasri','Ruba','Priya','Nandhini'],'Sub':['English','Tamil','Maths','Science-1','Science-2','Social']})
a2=pd.DataFrame({'id':[1,2,3,4,5,6],'Name':['Yuvaraj','Rishi','Manoj','Charan','Praveen','sai'],'Sub':['CSE','IT','EEE','ECE','MECH','R&A']})
print(a1)
print(a2)
print(pd.merge(a1,a2,on='id'))

   id      Name        Sub
0   1   Rithika    English
1   2   Yazhini      Tamil
2   3   Yuvasri      Maths
3   4      Ruba  Science-1
4   5     Priya  Science-2
5   6  Nandhini     Social
   id     Name   Sub
0   1  Yuvaraj   CSE
1   2    Rishi    IT
2   3    Manoj   EEE
3   4   Charan   ECE
4   5  Praveen  MECH
5   6      sai   R&A
   id    Name_x      Sub_x   Name_y Sub_y
0   1   Rithika    English  Yuvaraj   CSE
1   2   Yazhini      Tamil    Rishi    IT
2   3   Yuvasri      Maths    Manoj   EEE
3   4      Ruba  Science-1   Charan   ECE
4   5     Priya  Science-2  Praveen  MECH
5   6  Nandhini     Social      sai   R&A