In [2]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
import pandas as pd
emp = pd.Series(['Rishi','Yuvaraj','Asan','Rahib','Siva'])
id = pd.Series([82,83,84,85,86,])
frame = {'EMP':emp,'ID':id}
result = pd.DataFrame(frame)
print("\n Series to Dataframe\n")
print(result)

 Series to Dataframe

       EMP  ID
0    Rishi  82
1  Yuvaraj  83
2     Asan  84
3    Rahib  85
4     Siva  86

In [7]:
print("\n Extracting one column:\n")
print(result['EMP'])

 Extracting one column:

0      Rishi
1    Yuvaraj
2       Asan
3      Rahib
4       Siva
Name: EMP, dtype: object

In [8]:
print("\n Adding one column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

 Adding one column:

       EMP  ID   Age
0    Rishi  82  35.0
1  Yuvaraj  83  24.0
2     Asan  84  40.0
3    Rahib  85  38.0
4     Siva  86   NaN

In [9]:
print("\n deleting one column:\n")
del result['Age']
print(result)

 deleting one column:

       EMP  ID
0    Rishi  82
1  Yuvaraj  83
2     Asan  84
3    Rahib  85
4     Siva  86

In [10]:
print("\n Extracting the third row:\n")
print(result.loc[2])

 Extracting the third row:

EMP    Asan
ID       84
Name: 2, dtype: object

In [11]:
print("\n Slice rows:\n",result[1:3])

 Slice rows:
        EMP  ID
1  Yuvaraj  83
2     Asan  84

In [18]:
d1=pd.DataFrame([['Yuvaraj',82],['Rishi',83]],columns=['EMP','ID'])
print("\n Adding new row values:\n",result.append(d2))

 Adding new row values:
        EMP  ID
0    Rishi  82
1  Yuvaraj  83
2     Asan  84
3    Rahib  85
4     Siva  86
0  Yuvaraj  82
1    Rishi  83

C:\Users\Tcs\AppData\Local\Temp\ipykernel_6060\1921295805.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\n Adding new row values:\n",result.append(d2))

In [19]:
print("\n Deleting particular row:\n",result.drop(1))

 Deleting particular row:
      EMP  ID
0  Rishi  82
2   Asan  84
3  Rahib  85
4   Siva  86