In [6]:
import pandas as pd
data1={
    "name":["Sally","Mary","John"],
    "age":[50,40,30]
}
data2={
    "qualified":[True,False,False]
}
df1=pd.DataFrame(data1)
print("Original DataFrame 1:\n",df1)
df2=pd.DataFrame(data2)
print("\nOriginal DataFrame 2:\n",df2)
newdf=df1.join(df2)
print("\n Joining the above two Dataframes using join operation:\n",newdf)

Original DataFrame 1:
     name  age
0  Sally   50
1   Mary   40
2   John   30

Original DataFrame 2:
    qualified
0       True
1      False
2      False

 Joining the above two Dataframes using join operation:
     name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [12]:
df1=pd.DataFrame([[1,2],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
    print("\nOriginal DataFrame1:\n",df1)
    print("\nOriginal DataFrame2:\n",df2)
    print("\nCombining the above two DataFrame using combine function with some condition:\n",df1.combine(df2,myfunc))

In [11]:
data1={
    "name":["Sally","Mary","John"],
    "age":[50,40,30]
}
data2={
    "name":["Sally","Peter","Mickey"],
    "age":[77,44,22]
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("\nOriginal DataFrame1:\n",df1)
print("\nOriginal DataFrame2:\n",df2)
newdf=df1.merge(df2,how='right')
print("\nMerge operation:\n",newdf)

Original DataFrame1:
     name  age
0  Sally   50
1   Mary   40
2   John   30

Original DataFrame2:
      name  age
0   Sally   77
1   Peter   44
2  Mickey   22

Merge operation:
      name  age
0   Sally   77
1   Peter   44
2  Mickey   22

In [13]:
df=pd.DataFrame({'team':['A','B','C','D'],
                'points':[88,91,99,94],
                'assists':[22,28,30,31]})
print("\nOriginal DataFrame:\n",df)
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print("\nReshaped DataFrame:\n,df")

Original DataFrame:
   team  points  assists
0    A      88       22
1    B      91       28
2    C      99       30
3    D      94       31

KeyError: "The following 'value_vars' are not present in the DataFrame: ['rebounds']"