In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         One       Two     Three
a -0.167803  0.675519 -0.839715
b       NaN       NaN       NaN
c -0.339283  0.361263  1.309086
d       NaN       NaN       NaN
e  0.614159 -0.258324 -1.357305
f  0.867224 -1.488801  0.866821
g       NaN       NaN       NaN
h  1.423836  1.793542  1.114534


Dropped DataFrame
         One       Two     Three
a -0.167803  0.675519 -0.839715
c -0.339283  0.361263  1.309086
e  0.614159 -0.258324 -1.357305
f  0.867224 -1.488801  0.866821
h  1.423836  1.793542  1.114534

In [6]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['One','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("Nan replaced with '0':\n")
print(df.fillna(0))

Original DataFrame:
         One       two     three
a -0.211015 -0.152289 -0.330501
b       NaN       NaN       NaN
c -0.281041 -1.139051 -0.295215


Nan replaced with '0':

        One       two     three
a -0.211015 -0.152289 -0.330501
b  0.000000  0.000000  0.000000
c -0.281041 -1.139051 -0.295215

In [7]:
df=pd.DataFrame({'One':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print("\Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))

\Original DataFrame:
     One   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   One  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60

In [8]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['One','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\nOriginal DataFrame:\n",df)
print("\nNaN-Filled with Forward Values:\n")
print(df.fillna(method='pad'))
print("\nNaN-Filled with Background Values:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         One       two     three
a  0.928970  1.344096  0.448342
b       NaN       NaN       NaN
c -0.683584 -0.091138 -0.615840
d       NaN       NaN       NaN
e  3.359203  0.519310 -1.085647
f -0.091488 -2.111612  1.118442
g       NaN       NaN       NaN
h  0.540942 -0.417460  0.855260

NaN-Filled with Forward Values:

        One       two     three
a  0.928970  1.344096  0.448342
b  0.928970  1.344096  0.448342
c -0.683584 -0.091138 -0.615840
d -0.683584 -0.091138 -0.615840
e  3.359203  0.519310 -1.085647
f -0.091488 -2.111612  1.118442
g -0.091488 -2.111612  1.118442
h  0.540942 -0.417460  0.855260

NaN-Filled with Background Values:

        One       two     three
a  0.928970  1.344096  0.448342
b -0.683584 -0.091138 -0.615840
c -0.683584 -0.091138 -0.615840
d  3.359203  0.519310 -1.085647
e  3.359203  0.519310 -1.085647
f -0.091488 -2.111612  1.118442
g  0.540942 -0.417460  0.855260
h  0.540942 -0.417460  0.855260